{{ attach_library('arky8/maintenance') }}

<main id="maintenance" class="maintenance"> 
  <header id="header" class="header"> 
    {% if logo %}
      <a href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
        <img src="{{ logo }}" alt="{{ 'Home'|t }}"/>
      </a>
    {% endif %}
  </header> 

  {% if page.content %}
  <section id="main" class="main"> 
    <div class="main-banner"></div>
    <h1>{{ title }}</h1>
    <p>{{ page.content }}</p>
    <div>
      <a class="btn" href="tel:+51993917335">Llámenos al 993-917-335</a> <a class="btn" href="mailto:maria@munayco.consulting">Escríbanos a maria@munayco.consulting</a>
    </div>
  </section>
  {% endif %} 
</main>