:root {
    --color-primario: #9BB71A;
    --color-secundario: #DED325;
    --color-terciario: #549930;
}

.intranet { 
    color: #777;
    text-align: center;
    background-image: url(https://images.pexels.com/photos/271639/pexels-photo-271639.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);
    background-size: cover;
    background-position: center;
    background-color: rgba(84,153,48,.75);
    background-blend-mode: color-burn;
}

.arkyweb {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.my-intranet {
    max-width: 500px;
    background-color: white;
    padding: 2rem;
    font-size: .75em;
    box-shadow: 0 4px 11px rgba(0,0,0,0.75);
}

.header a {
    background-color: white;
	display: inline-block;
    margin: auto; 
    width: 240px;
}
.header a img {
    max-width: 240px;
}
.header h1 {  
    color: var(--color-primario); 
    font-size: 1.5em;
}
@media (min-width: 900px) {
    .header h1 {
        margin-top: 1rem;
    }
}

.form-item:not(:first-child), 
.form-actions,
.field--type-image,
details {
    margin-top: 1rem;
    text-align: left;
}
label,
summary {
    display: block; 
    text-align: left;
    letter-spacing: 1px;
    color: var(--color-primario);
}
summary {
    border-bottom: 1px dashed white;
    display: inline-block;
}

input:not([type="submit"]) {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid var(--color-primario); 
    color: #1b1b1b;
    font-family: inherit;
    width: 100%;
    padding: .75rem;
    line-height: 1;
    margin: .25rem 0 .125rem;
    transition: .25s color, .25s background-color;
}
input:not([type="submit"]):focus,
input:not([type="submit"]):active {
    background-color: beige;
    color: #1b1b1b;
} 
input[type="submit"] {
    background-color: var(--color-primario);
    border: 0;
    color: black;
    font-family: inherit;
    cursor: pointer; 
    width: 100%;
    padding: 1.5rem 1rem;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: .25s background-color;
}
input[type='submit']:hover {
    background-color: var(--color-terciario);
}
input[type="file"] {
    border: 1px dotted white;
    padding: .5rem;
    font-size: .5em;
}
input[type="file"] + input[type="submit"] {
    width: 100%;
    text-align: left;
    font-size: .65em;
    border: 1px dotted blue;
}
select {
    width: 100%;
    background-color: transparent;
    border: 1px dotted white;
    color: white;
    font-size: .85em;
    padding: .5rem;
}

.description,
.form-item + p {
    font-size: .65em;
    text-align: left;
    opacity: .75;
    letter-spacing: 1px;
} 

.auth-user-form--footer {
    margin-top: 2rem;
    text-align: left; 
    border-top: 1px solid rgba(124,124,124,.5);
    padding: 2rem 0;
    font-size: .85em;
}
.auth-user-form--footer h3 {
    font-size: .75em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.auth-user-form--footer h3:not(:first-child) {
    margin-top: 1rem;
}
.auth-user-form--footer h4 {
    font-weight: 700; 
}
.auth-user-form--footer h4 a {
    display: inline-block;
    position: relative;
    padding-left: .5rem;
    font-size: 1.25em;
    transition: .25s color;
    color: var(--color-primario);
}
.auth-user-form--footer h4 a:hover {
    color: var(--color-secundario)
}
.auth-user-form--footer  h4 a::before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    position: absolute;
    border-left: .25rem solid var(--color-primario);
    border-bottom: .25rem solid transparent;
    border-top: .25rem solid transparent;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
} 

footer p {
    font-size: .75em;
}
footer p a {
    color: var(--color-primario);
    transform: .25s color;
}
footer p a:hover {
    color: var(--color-secundario);
}