body {
    scroll-behavior: smooth;
}

.logo img {
    max-width: 225px;
}

[class*="btn"].btn-tiny {
    font-size: 13px;
}
[class*="btn"].btn-naked {
    border: 1px solid #559B32;
    background-color: transparent;
    color: #559B32;
}

[class*="link-"] {
    color: var(--color-morado);
    display: inline-block;
    font-size: 15px;
    letter-spacing: 2px;
    position: relative;
    text-transform: uppercase;
    transition: .25s color;
}
[class*="link-"]::after {
    background-color: var(--color-morado);
    bottom: -2px;
    content: '';
    height: 2px;
    position: absolute;
    right: 0;
    transition: .25s width;
    width: 0;
}
[class*="link-"]:hover::after {
    left: 0;
    width: 100%;
}

[class*="link-"][class*='green-soft']:hover {
    color: var(--color-verde-fuerte-min);
}
[class*="link-"][class*='green-soft']::after {
    background-color: var(--color-verde-fuerte-min);
}

.head-sec-menu .menu a::before {
    background-color: rgba(150,150,150,.15);
    bottom: 0;
    content: '';
    display: block;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
    transition: .25s height;
}
.head-sec-menu .menu a:hover::before {
    height: 100%;
}

h3.title-common,
h4.title-common,
.simulate-title-common > h3 {
    color: var(--color-morado);
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}
.simulate-title-common > h3 { margin-top: 0; }
.title-common span {
    color: #555;
    display: block;
    font-size: 18px;
    text-transform: none;
}
.title-common.title-normal,
[class*='title-block'][class*='normal'] > h3,
[class*='title-block'][class*='normal'] header h4 {
    text-transform: none;
}
.title-common::before,
[class*="title-block"] > h3::before, 
[class*="title-block"] header h4::before {
    content: '';
    width: .75rem;
    height: .75rem;
    position: absolute;
    display: block;
    background-color: #9FBC2B;
    left: 0;
    right: 0;
    margin: auto;
    top: -1.75rem;
    transform: rotate(45deg); 
    box-shadow: .8rem 0rem 0 #559B32, 0 0.8rem 0 #007133
}
[class*="title-block"][class*="normal"] header h4::before {
    content: none;
}

.negative,
.negative .title-common, 
.negative .simulate-title-common > h3 { color: white; }

.block-view header,
.block-view footer {
    text-align: center;
}


/* MENU - NEGATIVE */
.menu [class*="expanded"] > a + span {
    width: .5rem;
    height: 100%;
    display: block;
    position: absolute; 
    right: 0;
    margin: auto;
    top: 0;
}
.menu [class*="expanded"] > a + span::before {
    content: '';
    padding: 3px;
    border-right: 1px solid;
    border-bottom: 1px solid;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 3px;
    bottom: 0;
    height: 3px;
    transform: rotate(45deg);
    transition: .25s transform, .25s border-color;
}
.menu [class*="expanded"].open > a + span::before {
    transform: rotate(-135deg);
    border-color: #549930;
}
.menu [class*="expanded"] > a:after {
    content: '';
    width: 1rem;
    height: 0;
    background: #E9EFCC;
    position: absolute;
    bottom: -.5rem;
    left: 1rem;
    transform: rotate(45deg);
    z-index: 0;
    transition: .25s height;
}
.menu [class*="expanded"]:hover > a::after,
.menu [class*="expanded"].open > a::after {
    height: 1rem;
}
.menu [class*="expanded"] ul {
    background-color: #E9EFCC;
    display: block;
    font-size: .85em;  
    position: absolute;
    width: 18rem;
    height: auto;
    max-height: 0;
    overflow: hidden;
    z-index: 1; 
    transition: .5s max-height;
}
.menu [class*="expanded"].open ul,
.menu [class*="expanded"]:hover ul {
	max-height: 1000px;
}
.menu [class*="expanded"] ul li { 
    display: block;
} 
.menu [class*="expanded"] ul a {
    font-size: 14px;
    display: block;
    line-height: 1.25;
    padding-bottom: .75rem;
    padding-left: .75rem;
    padding-right: 2.5rem;
    color: #549930;
}
.menu [class*="expanded"] ul a.active {
    color: #1b1b1b;
}
.menu [class*="expanded"] ul li:first-child a {
	padding-top: .75rem;
}
.menu [class*="expanded"] > a {
	opacity: 1;
	transform: .25s opacity, .25s color;
}
.menu--main:hover .menu > li > a,
.menu--main:hover .menu > li > a + span {
    opacity: .75;
}
.menu--main:hover .menu > li:hover > a,
.menu--main:hover .menu > li:hover > a + span {
    opacity: 1;
}
.menu--main:hover .menu > li:hover > a,
.menu--main .menu > li.open > a {
    color: #549930;
}
.menu--main .menu > li ul li a {
	transition: .25s opacity;
}
.menu--main .menu > li ul:hover li a {
	opacity: .75; 
}
.menu--main .menu > li ul:hover li a:hover {
	opacity: 1; 
}
@media (min-width: 1024px) {
.menu--main {
	display: block;
}
}

/* BTN NEGATIVE */
[class*="btn"]:hover {
    box-shadow: 0 0.5625rem 1.125rem 0 rgba(0,0,0,0.2);
    background-color: #559B32;
    color: white;
}

/* SUMMARY */
.summary-box[class*='-link'] {
    display: block;
}
.summary-image {
    border-radius: .5rem;
    margin-bottom: 1rem;
    overflow: hidden;
}
.summary-image img {
    max-width: 100%;
    height: 200px;
    transition: .25s transform;
}
.summary-title {
    color: #444;
    font-size: 1em;
    line-height: 1.25;
    margin-bottom: 1rem;
    position: relative;
    transition: .25s color;
}
.summary-body time {
    display: block;
    color: #777;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: .5rem;
    text-transform: uppercase;
}
.summary-small {
    display: inline-block;
    position: relative;
    text-transform: uppercase;
    font-size: 12px;
    color: #777;
    letter-spacing: 4px;
}
.summary-small::before {
    background-color: var(--green-soft);
    content: '';
    display: block;
    height: 100%; 
    opacity: .75;
    position: absolute;
    width: 0;
    z-index: -1;
    transition: .25s width;
}

[class*='-link']:hover .summary-title {
    color: var(--green-soft);
}
[class*='-link']:hover .summary-image img {
    transform: scale(1.5) rotate(-15deg);
}
[class*='-link']:hover .summary-small::before {
    width: 100%;
}

.summary-box-news-link {
    display: flex;
    flex-direction: row;
}
[class*='-news'] .summary-image {
    min-width: 200px;
    flex-basis: 200px;
}
[class*='-news'] .summary-body {
    flex-grow: 1;
    padding-left: 1.5rem;
}
@media (max-width: 1023px) {
[class*='-news'] .summary-image {
    min-width: 125px;
    flex-basis: 125px;
    height: 125px;
}   
[class*='-news'] .summary-image img {
    height: 125px;
}
}
@media (max-width: 600px) {
.summary-box-news-link {
    flex-direction: column;
}
[class*='-news'] .summary-image {
    min-width: 100%;
    flex-basis: 100%;
    height: 125px;
}   
[class*='-news'] .summary-body {
    padding-left: 0;
}
}

.text-spacing h4 {
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 8px;
    font-size: 1.25em;
    color: #777;
}
.text-spacing p {
    font-size: 18px;
    color: #444;
    margin-bottom: 1rem;
}

.footerpage {
    border-bottom: 5px solid white;
    position: relative; 
    z-index: 2;
}
.pre-foot {
    background-color: var(--color-gris);
    clip-path: polygon(50% 0%, 100% 8%, 100% 100%, 0 100%, 0 8%);
    padding-top: 3rem;
    padding-bottom: 7rem;
}
.foot {
    font-size: .75em;  
    padding-bottom: 5rem;
    clip-path: polygon(50% 0%, 100% 12%, 100% 100%, 0 100%, 0 12%);
    background-color: var(--color-verde);
    padding-top: 8rem;
    margin-top: -6rem;
    background-image: linear-gradient( -20deg, rgba(0,113,51,.5) 30%, transparent 30% ), linear-gradient( -110deg,rgba(159,188,43,.75) 30%, transparent 30% );
    text-align: center;
}
@media (min-width: 900px) {
.foot .n {
    padding-left: 10%;
    padding-right: 10%;
}
}
.cta .block--inner {
    border-bottom: 1px solid white;
    padding-bottom: 4rem;
    padding-top: 4rem;
}
.cta h4 {
    color: var(--color-verde);
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: .75rem;
}
.cta p {
    color: var(--color-morado);
    font-size: 1em;
}
.cta .btn-main {
    background-color: white;
    border-color: white;
    color: var(--color-verde);
    font-size: 1.5em;
    font-weight: 700;
    margin-top: 1.25rem;
    text-transform: none; 
    transition: .25s background-color, .25s color, .25s border-color;
}
.cta .btn-main:hover {
    color: white;
    background-color: var(--color-verde-fuerte-min);
    border-color: var(--color-verde-fuerte-min);
}
.block-foot h5,
.block-foot .block-title {
    color: white;
    font-weight: 700;
    letter-spacing: 4px;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
.block-foot p,
.block-foot ul li {
    color: white;
    font-size: 1.25em; 
    line-height: 1.25;
}
.block-foot p u {
    color: #000;
    text-decoration: underline;
}
.block-foot ul li:not(:first-child),
.foot .menu li:not(:first-child) {
    margin-top: .5rem;
}
.big-foot h4 {
    color: white;
    font-size: 2em;
    margin-top: 2rem;
}
.big-foot h4 small {
    text-transform: uppercase; 
}
.big-foot h4 a {
    font-size: 1em;
    display: inline-block;
    position: relative;
    line-height: 1;
    word-break: break-all;
}
.big-foot h4 a::before {
    content: '';
    width: 0;
    height: 2px;
    background-color: white;
    display: block;
    bottom: 0;
    position: absolute;
    right: 0; 
    transition: .25s width;
}
.big-foot h4 a:hover::before {
    left: 0;
    width: 100%;
}

.copyright {
    font-size: .85em;
    margin-top: 3rem;
}
.copyright p {
    line-height: 1.5;
}

@media (min-width: 600px) {
.block-foot:first-child,
.big-foot h4:first-child {
    text-align: left;
}
.menu-erase,
.big-foot h4:last-child {
    text-align: right;
}
.big-foot .block--inner {
    display: flex;
    justify-content: space-between;
}
}
@media (min-width: 900px) {
.big-foot h4 a {
    font-size: 1.125em;
}
}

/* MENU-SIDEBAR*/
.menu-column .menu li:not(:first-child) {
    margin-top: 1rem;
}
.menu-column .menu li a {
    color: #777;
    display: block;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.125;
    text-transform: uppercase;
    transition: .25s color;
}
.menu-column .menu li a.is-active {
    color: #559B32;
}

/* FORMULARIO */
.form-item:not(:first-child),
.form-actions {
    margin-top: 1rem;
}
label, 
legend {
    color: #559B32;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    display: block;
    width: 100;
}
fieldset {
    border: 0;
}
input, 
textarea {
    max-width: 100%;
    display: block;
    width: 100%;
    padding: .5rem;
    border: 2px solid #559B32;
    color: #559B32;
    line-height: 1;
    font-size: 16px;
    font-family: inherit;
}
.js-form-item-markup {
    color: var(--color-verde);
    font-size: 12px;
}
.js-form-type-checkbox {
    position: relative;
}
input[type="checkbox"] {
    display: none;
}
input[type="checkbox"] + label {
    padding-left: 1.5rem;
}
input[type="checkbox"] + label::before {
    content: '';
    width: 1rem;
    height: 1rem;
    display: block;
    position: absolute;
    background-color: white;
    left: 0;
    border: 1px solid var(--color-verde);
    top: 2px;
    transform: rotate(45deg);
}
input[type="checkbox"] + label::after {
    content: '';
    width: .5rem;
    height: .5rem;
    background-color: var(--color-verde);
    display: block;
    position: absolute;
    z-index: 1;
    left: 4px;
    top: 6px;
    transform: rotate(45deg) scale(0);
    transform-origin: center;
    transition: .2s transform;
}
input[type="checkbox"]:checked + label::after { 
    transform: rotate(45deg) scale(1);
}
input[type='submit'] {
    background-color: #559B32;
    border-radius: 1rem;
    color: white; 
}
.is-servicios fieldset {
    border: 0;
}
.is-servicios .js-form-type-checkbox {
    margin-top: 0;
}
.form-item-hidden-servicio {
    display: none;
}

/* MENUPAGE */

.menupage {
    display: block;
    transform: translate3d(-100%,0,0);
    height: 0;
    min-height: 100vh;
    position: fixed;
    z-index: 11;
    background-color: rgba(255,255,255,.98);
    width: 100%;
    top: 0;
    padding-top: 2rem; 
    overflow-y: auto;
    transition: .25s transform;
}
.menupage .branding {
    margin-bottom: 1rem;
}
.menu-is-open .menupage {
    transform: translate3d(0,0,0);
}
.menu-is-open { overflow-y: hidden; }

.menupage .block:not(.branding):not(.third-menu) {
    margin-top: 2rem;
}
.menupage .block.copyright-menu {
   padding-bottom: 3rem;
   color: #777;
    font-size: .75em;
    margin-top: 4rem;
}
.menupage .block.copyright-menu .block--inner {
    border-top: 1px solid #aaa;
    padding-top: 2rem;
}
.menupage .logo {
    display: inline-block;
    width: 225px;
}

.menupage .menu {
    flex-direction: column;
}
.menupage .menu [class*="expanded"] > a {
    text-transform: uppercase;
    color: #777;
    line-height: 1;
    font-size: 18px;
    display: block;
    transition: .3s color;
}
.menupage .menu [class*="expanded"] > a {
    color: var(--color-verde-fuerte-min);
}
.menupage .menu [class*="expanded"] > a::after {
    content: none;
}
.menupage .menu [class*="expanded"] ul {
    overflow: visible;
    position: relative;
    width: auto;
    max-height: 100%;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: .75rem;
    margin-bottom: 1rem;
}
.menupage .menu [class*="expanded"] ul li {
    display: inline-block;
    flex-basis: 50%;
    min-width: 50%;
    margin-bottom: .5rem;
}
.menupage .menu [class*="expanded"] ul a {
    color: #444;
    display: inline-block;
    font-size: 1em;
    position: relative;
    line-height: 1;
    padding: 0; 
    padding-right: .75rem;
    transition: .3s color;
}
.menupage .menu [class*="expanded"] ul a:hover {
    color: var(--color-morado);
}
.menupage .menu [class*="expanded"] ul li:first-child a {
    padding-top: 0;
}
.menupage .secondary-menu .menu li a[class*='btn'] {
    display: block;
    text-align: center;
    padding: 1rem;
    font-size: 20px;
    color: white;
}
.menupage .secondary-menu .menu li a,
.menupage .third-menu .menu li a {
    text-transform: uppercase;
    font-size: 18px;
    color: #444;
    transition: .3s color;
}
.menupage .secondary-menu .menu li a:not([class*='btn']):hover,
.menupage .third-menu .menu li a:hover {
    color: var(--color-verde-fuerte-min);
}

.secondary-menu li:not(:last-child) {
    margin-top: 2rem;
    order: 2;
}

.toggle-close {
    display: block; 
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: var(--espacio);
    top: .5rem;
    z-index: 2;
}
.toggle-close i {
    display: block;
    background-color: var(--color-morado);
    width: 30px;
    height: 1px;
    transform-origin: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.toggle-close i:first-child {
    transform: rotate(45deg);
}
.toggle-close i:last-child {
    transform: rotate(-45deg);
}

.empresas .child {
    align-items: center;
    justify-content: center;
}
.empresas .child li {
    position: relative;
    min-width: 150px;
    max-width: 150px;
}  
.empresas img {
    height: 100px;
    object-fit: contain; 
    margin-left: auto;
    margin-right: auto;
} 

@media (min-width: 600px){
.empresas img {
    height: 120px;
}
}

@media (min-width: 900px) {
.empresas .child li {
    min-width: 33.33%;
    max-width: 33.33%;
}
}
@media (min-width: 1200px) {
.empresas .child li {
    min-width: 25%;
    max-width: 25%;
}
}

.mainpage {
    padding-bottom: 3rem;
}

.mainpage [class*="btn"] {
    padding: 1.1rem 2rem 1rem;
    font-weight: 700;
}
.mainpage [class*="btn"].btn-cta {
    background-color: white; 
}
.mainpage [class*="btn"].btn-cta:hover {
    background-color: var(--color-verde);
}

.video {
    margin-top: 1rem;
}
.video-embed-field-lazy img {
    max-width: 100%;
} 

.form-item-hidden-curso {
    display: none;
}

.enviado h3 {
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.enviado h4 {
    font-size: 21px;
    line-height: 1.25;
}
.enviado p {
    font-size: 18px;
    margin-top: 1rem;
}
.enviado a {
    background-color: var(--color-morado);
    border-radius: 2rem;
    color: white;
    font-size: 16px;
    padding: .75rem 1.5rem;
    display: inline-flex;
    margin-top: 1rem;
    transition: .3s background-color;
}
.enviado a:hover {
    background-color: var(--color-verde);
}

/* TASKS */

aside.tasks {
    position: fixed;
    z-index: 10;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
}
aside.tasks .block--inner ul {
    line-height: 1;
}
aside.tasks .block--inner ul li {
    display: inline-block;
    font-size: 14px;
}
aside.tasks .block--inner ul li a {
    color: var(--color-verde);
    display: inline-block;
    margin: 0;
    line-height: 1;
    padding: .5rem;
    transition: .3s all;
}
aside.tasks .block--inner ul li a:hover,
aside.tasks .block--inner ul li a.is-active {
    background-color: var(--color-verde-suave-max);
    color: var(--color-verde);
}