.home-info,
.home-news,
.home-negative { 
    padding-top: 5rem;
	padding-bottom: 5rem;
	position: relative; 
}
.home-info { 
    padding-top: 0; 
}
.home-info .block:not(:first-child),
.home-news .block:not(:first-child) {
	margin-top: 4rem;
}
.home-negative {
    background-blend-mode: lighten, multiply, color, normal;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.home-negative li {
    margin-top: 1.5rem;
}

.listing {
	margin-top: 2rem; 
}
.listing-article {
    align-items: center;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 2rem;
    text-align: center;
    transition: .25s background-color, .25s box-shadow;
}
.listing-article:hover {
    background-color: rgba(150,150,150,.1);
    box-shadow: 0 0 0 2rem rgba(150,150,150,.1);
}
.listing-title {
    font-size: 20px;
    line-height: 1.125;  
}
.listing-title a,
.listing-title span {
    color: var(--color-morado);
    display: block; 
} 
.listing:last-child .listing-title span {
	display: none;
}
.listing-items { 
    margin-bottom: 1rem;
}
.listing-item { 
	display: block; 
}
.listing-item:not(:first-child) {
    margin-top: .25rem;
}
.listing-item a {
    color: var(--color-morado);
    display: block;
    font-size: 14px;
    line-height: 1.25;
    padding-left: 1rem;
    position: relative;
    margin-bottom: .75rem; 
    text-align: left;
}
.listing-item a::before {
    background-color: var(--color-morado);
    border-radius: 50%;
    content: '';
    display: block;
    height: 6px;
    position: absolute;
    width: 6px;
    top: 8px;
    left: 0;
}
.listing-item a::after {
    background-color: #E7EECA;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    z-index: -1;
    transition: .25s width;
}
.listing-item a:hover::after {
    width: 100%;
}

.listing-icon {
    height: 4.5rem; 
    margin: 1rem auto 0; 
    position: relative;
    width: 4rem;
}
.listing-icon svg {
    max-width: 3.5rem;
    margin: auto;
    height: 56px;
    position: relative;
    z-index: 1;
}
.listing-icon svg path { fill: var(--color-morado); }
.listing-icon::after {
    content: '';
    background-color: var(--color-verde-fuerte-min);
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    opacity: .25;
    z-index: 0;
    top: 0;
    left: 0;
    transition: .24s transform;
}
.listing-article:hover .listing-icon::after {
    transform: scale(2);
}

.text-simple p {
    color: #777; 
}
.text-simple li {
    color: #777;
    font-size: 16px;
    margin-top: 1rem;
    position: relative;
}
.text-simple.block-view p {
    line-height: 1.25;
    margin-top: 1rem;
}

/* NO IMPORTANTES */
@supports (display: grid) {
.home-banner::after {
    content: '';
    width: 100%;
    height: 3rem;
    display: block;
    position: absolute;
    bottom: -.125rem;
    background-color: white;
    z-index: 2;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.home-info::after,
.home-news::after {
    content: '';
    width: 40vw;
    height: 40vw;
    display: block;
    position: absolute;
    background-color: rgba(159,188,43,.25);
    top: 0;
    z-index: -1;
    border-radius: 50% 0 0 50%;
    margin: auto;
    bottom: 0;
    right: -5vw;
    transform: rotate(10deg);
}
.home-news::after {  
    left: 0;
    right: 0; 
    border-radius: 50%;
}
}