/* PAGEHEADER */
.pageheader {
	position: relative;
	overflow: hidden; 
	background-repeat: no-repeat;
	background-position: center; 
	background-size: cover; 
}
.pageheader .n {
	z-index: 1; 
	align-content: center;
    min-height: 40vh;
    text-align: left;
} 

.block-titular {
    margin-top: 5vh;
    margin-bottom: 8vh;
    text-align: center;
} 
.is-servicios .block-titular {
    text-align: left;
}

.page-bread a {
    background-color: #E7EECA;
    color: var(--color-verde);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    line-height: 1;
    border-radius: 2rem;
    padding: .65rem 1rem .5rem;
    display: inline-block;  
    position: relative;
} 

.page-title {
    color: var(--color-morado);
    font-size: 2em;
    font-weight: 700;
    line-height: 1.125; 
    margin-top: 1rem; 
    word-wrap: anywhere;
}
.pageheader .page-title {
    text-transform: none;
    text-shadow: 2px 2px 2px rgba(0,0,0,.25);
    color: white;
    font-weight: 700;
    font-size: 2.25em;
    line-height: 1;
    margin-top: 1.5rem;
    max-width: 100%;
}
.pageheader .page-title span {
    display: block;
    font-weight: 700;
} 
@media(min-width: 900px){
.is-servicios .pageheader .page-title { 
    max-width: 75%;
}
.is-servicios .page-cta {
    display: none;
}
}

.page-icon {
    width: 6rem;
    margin: auto;
    background-color: #E7EECA;
    padding: 1.5rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 0 0 0 1px var(--color-verde-fuerte-min) inset, 2px 2px 5px 0 rgba(0,0,0,.125);
}
.page-icon svg { 
    fill: var(--color-verde-fuerte-min); 
    position: relative;
}
.page-icon .st0 {
    fill: var(--color-verde-fuerte-min);
}

.page-subtitle {
    color: #777;
    font-size: 1.2em;
    max-width: 60%;
    margin: 1rem auto 2rem;
    position: relative;
    line-height: 1.25;
}
.titular img { 
    max-width: 100%; 
    margin: 1rem auto 2rem;
}

.page-cta {
	display: inline-block;
	margin-top: 1rem;
}
.is-cursos .page-cta {
    margin-top: 2.5rem;
}

.is-decorated h1.page-title {
	max-width: 100%;
} 

.is-servicios .menu-column {
	display: none;
	margin-bottom: 1rem;
}
.sidebar .block.meta-container {
    border: 1px solid #559B32;
    padding: 0 1rem 1rem;
}
.is-cursos .sidebar .block.meta-container {
    margin-top: 2rem;
}
.block.meta-container .meta:not(:last-child) {
    max-width: 50%;
    flex-basis: 50%;
}
.meta {
	margin-top: 1rem;
}
.meta h5,
.share h5 {
    color: #559B32;
    font-size: 13px;
    line-height: 1.25;
    margin-bottom: .5rem;
    text-transform: uppercase;
}
.meta .like-meta {
    font-size: 22px;
    margin-bottom: 1rem;
    display: inline-block;
    border-bottom: 1px solid #559B32;
}
.meta p {
    font-size: 16px;
    line-height: 1.25;
    color: #777;
    word-wrap: anywhere;
}
.share {
	margin-top: 1.5rem;
}
.sidebar .share {
    display: none;
}
.share .meta {
    border: 1px solid green;
    padding: 1rem;
}
.share a {
	color: #777;
	font-size: 21px;
    margin-left: .25rem;
	margin-right: .25rem;
    transition: .25s color;
}
.share a:hover {
    color: var(--color-verde);
}
.especialistas {
    border-bottom: 1px solid #559B32;
    margin-bottom: 2rem;
}
.meta-full a {
    display: block;
    background-color: var(--color-gris);
    padding: 1rem;
    color: var(--color-verde);
    line-height: 1;
    font-size: 14px;
    font-weight: 700;
    margin-top: 1.25rem;
    width: 100%;
    transition: .25s color, .25s background-color;
}
.meta-full a:hover {
    background-color: var(--color-verde);
    color: white;
}

@media (min-width: 900px) {
.page-cta {
    display: none;
}
.is-servicios .share,
.is-cursos .share {
    display: block;
}
.is-cursos .sidebar .block.meta-container {
    margin-top: 0;
}
.is-servicios .menu-column {
	display: block;
}
.sidebar .block.meta-container {
    border: none;
    padding: 0;
}
.sidebar .block.meta-container .meta {
    max-width: 100%;
    flex-basis: 100%;
}
.meta:first-child {
	margin-top: 0;
}
.sidebar .share a {
    margin-right: 0;
    width: 20%;
    display: inline-block;
}
}

.carusel {
	margin-bottom: 2rem;
    margin-top: 2rem;
}

.sumilla {
    font-size: 1.25em;
    color: #444;
    margin-bottom: 1.5rem;
}
.node-servicios-de .sumilla {
    font-size: 1em; 
}
.sumilla p:not(:first-child) {
    margin-top: 1rem;
}
.node-servicios-de .sumilla p:not(:first-child) {
    margin-top: 2rem;
}
.cuerpo {
    color: #777;
}
.cuerpo > :not(:first-child) {
    margin-top: 1rem;
}
.cuerpo p + img,
.cuerpo img {
    max-width: 100%;
    width: 100%;
}
.cuerpo ul li:not(:first-child) {
    margin-top: 1rem;
}
.cuerpo ul li::before {
    content: '• ';
    color: var(--color-verde-fuerte);
    font-size: 27px;
}
.imagen {
    margin-top: 1.5rem;
}
.imagen img {
	max-width: 100%;
}

@media (min-width: 900px) {
.share a {
    margin-left: 0;
    margin-right: .5rem;
}
}
@media (min-width: 1200px) {
.node-servicios-de .sumilla {
    columns: 2;
    text-align: justify;
    column-gap: 3rem;
}    
}

.exclusive li {
    color: #559B32;
    margin-bottom: 1rem;
    line-height: 1.25;
}

.faux,
.sidebar,
.contenido,
.pc,
.relacionados {
	padding-top: 3rem;
	padding-bottom: 2rem;
	position: relative;
	z-index: 2;
}
.pc .block:not(:first-child) {
    margin-top: 5rem;
}
.faux {
	padding-bottom: 0;
}
.is-servicios-full .contenido {
    padding-bottom: 5rem;
}
.relacionados {
	padding-bottom: 5rem;
}

.sidebar.l-right {
    background-color: #E7EECA; 
}
.sidebar .block {
	padding-left: 0;
}

.text-simple {
	color: #559B32;
}
.text-simple h4 {
	font-weight: 400;
    font-size: 1.125em;
    line-height: 1.125;
    margin-bottom: .5rem; 
}
.text-simple h4 span {
    font-weight: 700;
    font-size: 1.25em;
    display: inline-block;
    border-bottom: 2px solid;
}
.text-simple p {
    font-size: 14px;
    line-height: 1.25;
    margin-bottom: 1rem; 
}
@media (min-width: 900px) {

.sidebar.l-right {
	padding-left: 2rem;
	padding-bottom: 3.5rem;
	border-radius: 3.5rem 0 0 3.5rem;
}
.sticky {
	height: auto;
	position: sticky;
	top: 8rem;
}

}

.parrafo {
	margin-top: 1rem; 
    min-width: 100%;
}
.parrafo article {
    background-color: var(--color-gris); 
    border-radius: 1rem;
    padding: 2rem;
    height: 100%;
    margin-bottom: 1rem;
    font-size: .9em;
    line-height: 1.5; 
    text-align: left;
}
.parrafo h4 {
    color: #559B32;
    font-size: 1.25em;
    line-height: 1.25; 
    max-width: 70%;
}
.parrafo p,
.parrafo li {
    margin-top: 1rem;
    color: #444;
}
.parrafo li::before {
    content: '-';
    margin-right: .25rem;
}
@media (min-width: 600px) {
.parrafo {
    min-width: 375px;
}
}

.pageheader::before {
    content: '';
    background: white;
    height: 3rem;
    width: 100%;
    position: absolute;
    display: block;
    z-index: 1;
    bottom: 0;
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

[class*="summary-"][class*="servicios"] {
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: #E7EECA;
    border-radius: .5rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
[class*="summary-"][class*="servicios"]::before,
[class*="summary-"][class*="servicios"]::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: var(--color-morado);
    z-index: -1;
    left: 0;
    top: 0;
    transform: scale(0);
    transition: .25s transform;
}
[class*="summary-"][class*="servicios"]::after {
    background-color: var(--color-verde);
    transform: scale(1);
    z-index: -2;
}
[class*="summary-"][class*="servicios"]:hover::before {
    transform: scale(1);
}
[class*="summary-"][class*="servicios"] h4 {
    color: white;
    margin: 0;
    font-size: 1.25em;
    line-height: 1;
}
[class*="summary-"][class*="servicios"] small {
    display: inline-flex;
    margin-top: .5rem;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
[class*="summary-"][class*="servicios"] small:after {
    content: '';
    width: 0;
    height: 2px;
    background: white;
    display: block;
    position: absolute;
    bottom: -4px; 
    right: 0;
    transition: .25s width;
}
[class*="summary-"][class*="servicios"]:hover small:after {
    width: 100%; 
    left: 0;
}

/* SOME FIXES */
.is-servicios-full .pc {
	padding-bottom: 5rem;
}
@media (max-width: 900px) {
.sidebar.l-left {
    padding-top: 1rem;
    padding-bottom: 0;
}
}

.is-so-decorated { position: relative; }
.is-decorated .contenido::before,
.is-so-decorated::before {
    content: '';
    width: 33vw;
    height: 33vw;
    background-color: #E7EECA;
    display: block;
    position: absolute;
    transform: rotate(45deg);
    z-index: -1; 
    top: -16.5vw;
    box-shadow: 82vw 70vw 0 #E7EECA,92vw -19vw 0 #E7EECA;
}
.page-subtitle::after {
    content: '';
    width: 40px;
    height: 2px;
    position: absolute;
    background-color: #7777;
    bottom: -1rem;
    left: 0;
    right: 0;
    margin: auto;
}