{# ---------------------------------------- #}
{# VARIABLES PARA CURSOS TEASER 	 		#}
{# ---------------------------------------- #}
{% set TITULO = node.label %}
{% set URL = url %}
{% set IMAGEN = content.field_image[0] %}
{% set FECHA = content.field_date %}
{% set IMAGE_URL = file_url(node.field_image.entity.fileuri) %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE TEASER 				#}
{# ---------------------------------------- #}
<article{{ attributes.addClass('summary-box') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

<a class="summary-box-news-link" href="{{ URL }}">

	<figure class="summary-image">
        <img class="lazy" alt="{{ TITULO }}" data-src="{{ IMAGE_URL }}" data-srcset="{{ IMAGE_URL }}" loading="lazy" />
        <noscript>
          <img alt="{{ TITULO }}" src="{{ IMAGE_URL }}">
        </noscript>

    </figure>
	<div class="summary-body">
		{{ FECHA }}
        <h4 class="summary-title">{{ TITULO }}</h4>
        <small class="summary-small">{{ 'Entérese más'|t }}</small>   
	</div>

</a> 
</article> {# CULMINA EL TEASER #}