{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE PRINCIPAL 		#}
{# ---------------------------------------- #}

{% set BANNER_PRETITULO = content.field_home_banner_pre %}
{% set BANNER_TITULO = content.field_home_banner_h %}
{% set BANNER_CUERPO = content.field_home_banner_p %}
{% set BANNER_LINK = content.field_home_banner_link %}
{% set BG = file_url(node.field_bg_fondo.entity.fileuri) %}
{% set BG_2 = file_url(node.field_bg_fondo_2.entity.fileuri) %}
{% set SERVICIOS_LISTA = content.field_lista_servicios %}
{% set NOSOTROS_CUERPO = content.body %}
{% set NOSOTROS_LINKS = content.field_links %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}
<div{{ attributes.addClass('a') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

{# PAGEHEADER #}
{% if node.field_bg_fondo[0].value|length > 0 %}
<section id="home_banner" class="home-banner l l-full" style="background-image: linear-gradient(rgba(38, 20, 64, .5) 0%, rgba(38, 20, 64, .5) 100%), linear-gradient(rgba(255,255,255,.5) 0%, rgba(255,255,255,.5) 100%), linear-gradient(rgba(85, 155, 50,.25) 0%, rgba(85, 155, 50,.25) 100%), url({{ BG }});">
{% else %}
<section id="home_banner" class="home-banner l l-full">
{% endif %} 
<div class="n">

	<div class="block main-text">  
		<h3 class="main-text-pretitle">{{ BANNER_PRETITULO }}</h3>
		<h2 class="main-text-title">{{ BANNER_TITULO }}</h2>
		{{ BANNER_LINK }}
	</div>

</div>
</section>

{# INFO #}
<section class="home-info l l-full">
<div class="n"> 

	<div class="block block-full text-center block-60">
		<p class="important">{{ BANNER_CUERPO }}</p>
	</div>
	<div class="block block-full text-center block-90">
		<h3 class="title-common">{{ '¿Qué servicios ofrecemos?'|t }} <span>{{ 'Nuestras áreas de experiencia'|t }}</span></h3>
		{% if SERVICIOS_LISTA[0] %}
		<nav class="child childx2">
			{% for key, item in SERVICIOS_LISTA if key|first != '#' %}
			{{ item }}
			{% endfor %}
		</nav>
		{% endif %}
	</div>

	<div class="block block-full block-80 text-simple block-view text-center empresas">
		<h3 class="title-common">{{ 'Nuestros clientes'|t }} <span>{{ 'Con orgullo podemos decir que ellos confían en nosotros'|t }}</span></h3>  
		{{ drupal_view('especiales', 'especiales_empresas') }}
	</div>

</div>
</section>

<section class="home-negative l l-full negative" style="background-image: linear-gradient(#261440 0%, #261440 100%), linear-gradient(#559B32 0%, #559B32 100%), linear-gradient(rgb(0, 0, 0) 0%, rgb(0, 0, 0) 100%), url({{ BG_2 }});">
<div class="n">

	<div class="block block-full block-60 text-center"> 
		<div class="simulate-title-common text-justify">{{ NOSOTROS_CUERPO }}</div>
		{% if NOSOTROS_LINKS[0] %}
		<ul>
			{% for key, item in NOSOTROS_LINKS if key|first != '#' %}
			<li>{{ item }}</li>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

</div>
</section>

<style>

.footerpage { margin-top: -6rem; }

</style>

{# COMPARTIDOS #} 
<section class="home-news l l-full">
<div class="n">

    {#

	<div class="block block-full block-80 btext-simple block-view child-view">  
		<h3 class="title-common">{{ 'Cursos Disponibles'|t }} <span>{{ 'Hacemos cursos a la medida. Consúltenos'|t }}</span></h3>
		{{ drupal_view('cursos', 'cursos_home') }}
	</div> 

    #}

	<div class="block block-full block-80 btext-simple block-view child-view"> 
		<h3 class="title-common">{{ 'Noticias Destacadas'|t }} <span>{{ 'Entérese primero de las novedades'|t }}</span></h3>
		{{ drupal_view('noticias', 'noticias_home') }}
	</div> 

</div>
</section>  

</div> {# CULMINA EL DIV DEL NODE #}