{# ---------------------------------------- #}
{# VARIABLES PARA SERVICIOS LISTADO 		#}
{# ---------------------------------------- #}

{% set TITULO = label %}
{% set CUERPO = content.body %}
{% set ICON = content.field_svg %}
{% set ID = node.id %}

{% set SERVICIO_BG = file_url(node.field_bg_fondo.entity.fileuri) %}

{% set REGION_MESSAGES = drupal_region('messages') %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}

<div{{ attributes.addClass('a is-servicios-full') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

{# PAGEHEADER #}
{% if node.field_bg_fondo[0].value|length > 0 %}
<section class="pageheader l l-full" style="background-image: url({{ SERVICIO_BG }})">
{% else %}
<section class="pageheader l l-full">
{% endif %}
<div class="n">

	<div class="block block-full block-60 block-titular"> 
		<figure class="page-icon">  
			{{ ICON }}
		</figure>
		<h1 id="title" class="page-title">{{ 'Servicios de'|t }} <span>{{ TITULO }}</span></h1> 
	</div>

</div>
</section>

{# CONTENIDO #}
<article class="contenido l l-full text-center">
<div class="n">

	{{ REGION_MESSAGES }}

	{% if node.body.value|length > 0 %}
		<article class="sumilla-container">
			<div class="block block-full block-60 sumilla">{{ CUERPO }}</div>
		</article>
	{% endif %}

	<div class="block block-full block-80 text-spacing">
		<h4>{{ 'Estos son nuestros servicios exclusivos'|t }}</h4> 
	</div>

	<div class="block block-full block-60 block-view child-view">
		{% if ID == '7' %}
			{{ drupal_view('servicios', 'servicios_7') }}
		{% elseif ID == '8' %}
			{{ drupal_view('servicios', 'servicios_8') }}
		{% elseif ID == '9' %}
			{{ drupal_view('servicios', 'servicios_9') }}
		{% else %}
			{{ drupal_view('servicios', 'servicios_10') }}
		{% endif %}
	</div>

</div>
</article>

</div> {# CULMINA EL DIV DEL NODE #}

{# ---------------------------------------- #}
{# ADICIONADO ANTES DE CULMINAR EL MAINPAGE #}
{# ---------------------------------------- #}

{% if node.field_bg_fondo[0].value|length > 0 %}
<script> 

window.addEventListener('scroll', function(e){
  var scrolled = window.pageYOffset;
  var background = document.querySelector(".parallax");
  var coords = '50% '+ ( (-350 - (scrolled *0.25)) + 'px');
  background.style.backgroundPosition  = coords;
});

</script> 
{% endif %}