{# ---------------------------------------- #}
{# VARIABLES PARA CURSOS FULL 		 		#}
{# ---------------------------------------- #}
{% set TITULO = label %}
{% set SUMILLA = content.field_sumilla %}
{% set CUERPO = content.body %}
{% set IMAGEN = content.field_image %}
{% set META_LUGAR = content.field_cursos_lugar %}
{% set META_FECHA = content.field_date %}
{% set META_DURACION = content.field_cursos_duracion %}
{% set META_INVERSION = content.field_cursos_inversion %}
{% set META_CAPACIDAD = content.field_cursos_capacidad %}
{% set META_FONO = content.field_cursos_telefono %}
{% set META_MAIL = content.field_cursos_correo %}
{% set DESCARGA = content.field_descargable %}

{% set REGION_SECOND = drupal_region('sidebar_second') %}
{% set REGION_MESSAGES = drupal_region('messages') %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}
<div{{ attributes.addClass('a is-both is-cursos is-so-decorated') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

{# PAGEHEADER #}
<section class="faux l l-full">
<div class="n">

	<div class="block block-full block-60 titular text-center">
		<div class="block-inner"> 
			
			<h3 id="bread" class="page-bread"><a href="./">Cursos</a></h3>	
			<h1 id="title" class="page-title">{{ TITULO }}</h1>
				
			<span class="page-cta">
				<a href="#solicitar" class="btn-naked skrol">{{ 'Solicita asesoría'|t }}</a>
			</span>

		</div>
	</div>

</div>
</section>

{# LEFT #}
<aside class="sidebar l l-left">
<div class="n sticky">

	<div class="meta-container block block-full">
		<ul class="child">

			{# <li class="meta"><h5>Lugar: </h5><p>{{ META_LUGAR }}</p></li> #}
			{# <li class="meta"><h5>Fecha de inicio: </h5><p>{{ META_FECHA }}</p></li> #}
			{% if node.field_cursos_duracion.value|length > 0 %}
			<li class="meta"><h5>Duración: </h5><p>{{ META_DURACION }}</p></li>
			{% endif %}
			{# <li class="meta"><h5>Inversión: </h5><p>{{ META_INVERSION }}</p></li> #}
			{% if node.field_cursos_capacidad.value|length > 0 %}
			<li class="meta"><h5>Capacidad: </h5><p>{{ META_CAPACIDAD }}</p></li>
			{% endif %}
			{% if node.field_cursos_telefono.value|length > 0 %}
			<li class="meta"><h5>Teléfono de contacto: </h5><p>{{ META_FONO }}</p></li>
			{% endif %}
			{% if node.field_cursos_correo.value|length > 0 %}
			<li class="meta"><h5>Correo de contacto: </h5><p>{{ META_MAIL }}</p></li>
			{% endif %}
			{% if node.field_descargable.value|length > 0 %}
			<li class="meta-full">{{ DESCARGA }}</li>
			{% endif %}

		</ul>
	</div> 

	{% include directory ~ '/templates/@includes/share.html.twig' %}{# SHARE #}

</div>
</aside>

{# CONTENIDO #}
<article class="contenido l l-full l-center">
<div class="n">

	{{ REGION_MESSAGES }}
		
	<div class="block block-full sumilla">{{ SUMILLA }}</div>
	<div class="block block-full cuerpo">{{ CUERPO }}</div>
	{% if node.field_image.value|length > 0 %}
	<div class="block block-60 imagen">{{ IMAGEN }}</div>
	{% endif %}

	{% include directory ~ '/templates/@includes/share-movil.html.twig' %}{# SHARE #}

</div>
</article>

{# RIGHT #}
<div id="solicitar" class="sidebar l l-right">
<div class="n sticky"> 

	<div class="block block-full text-simple">
		<h4>{{ 'Consulte para obtener un plan a su medida'|t }}</h4>
		<p>{{ 'Déjanos tus datos para indicarte si hay cupos a la brevedad.'|t }}</p>
	</div>

	{{ REGION_SECOND }}

</div>
</div>

{# RELACIONADOS #}
<section class="relacionados l l-full">
<div class="n">

	<div class="block block-full text-spacing text-center">
		<h4>{{ '¿Interesado en mas cursos?'|t }}</h4>
		<p>{{ 'Aquí hay más cursos que pueden interesarle'|t }}</p>
	</div>

	<div class="block block-full block-space title-block block-60 btext-simple block-view child-view">	
		{{ drupal_view('cursos', 'cursos_rel') }}
	</div>

</div>
</section>

</div> {# CULMINA EL DIV DEL NODE #}

{# ---------------------------------------- #}
{# ADICIONADO ANTES DE CULMINAR EL MAINPAGE #}
{# ---------------------------------------- #}

<script type="text/javascript">

const title_input = document.getElementById('title').textContent;
document.getElementById('edit-hidden-curso').value = title_input;

</script>