{# ---------------------------------------- #}
{# VARIABLES PARA SERVICIOS TEASER	 		#}
{# ---------------------------------------- #}

{% set TITULO = label %}
{% set URL = url %}

<article{{ attributes }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

  	<a class="summary-servicios" href="{{ URL }}">

		<h4>{{ TITULO }}</h4>
		<small>{{ '¿Desea conocer más?'|t }}</small> 

	</a> 

</article>