{# ---------------------------------------- #}
{# VARIABLES PARA SERVICIOS HOME	 		#}
{# ---------------------------------------- #}

{% set URL = url %}
{% set TITULO = label %}
{% set ICONO = content.field_svg %}
{% set LISTADO = content.field_lista_servicios_child %}

<article{{ attributes.addClass('listing') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}
<div class="listing-article">

	<h3 class="listing-title">
		<a href="{{ URL }}">
			<span>{{ 'Servicios de'|t }}</span> {{ TITULO }}
			<div class="listing-icon">{{ ICONO }}</div>
		</a>
	</h3> 

	{% if LISTADO[0] %}
	<ul class="listing-items">
		{% for key, item in LISTADO if key|first != '#' %}
		<li class="listing-item">{{ item }}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<a class="link-upper link-green-soft" href="{{ URL }}">{{ 'Ver todos'|t }}</a>

</div>
</article>