{# ---------------------------------------- #}
{# VARIABLES PARA ARTICULOS FULL 		 	#}
{# ---------------------------------------- #}
{% set TITULO = label %}
{% set SUMILLA = content.field_sumilla %}
{% set VIDEO = content.field_video %}
{% set CUERPO = content.body %}

{% set DESCARGA = content.field_descargable %}

{% set REGION_MESSAGES = drupal_region('messages') %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}
<div{{ attributes.addClass('a is-noticias is-decorated') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

{# CONTENIDO #}
<article class="contenido l l-full">
<div class="n">

	<div class="block block-full block-60 titular text-center">
		<h3 id="bread" class="page-bread">
			<a href="./">Noticias</a>
		</h3>
		<h1 id="title" class="page-title">{{ TITULO }}</h1>
	</div> 

	{% if node.field_image.value|length > 0 %}
	<div class="block block-full block-50 carusel">
		{% include directory ~ '/templates/@includes/swiper.html.twig' %}{# SWIPER #}
	</div>
	{% endif %}

	{{ REGION_MESSAGES }}
		
	<div class="block block-full block-60 sumilla">{{ SUMILLA }}</div>
	<div class="block block-full block-60 cuerpo">{{ CUERPO }}</div>

	{% if node.field_video.value|length > 0 %}
	<div class="block block-full block-50 video">{{ VIDEO }}</div>
	{% endif %}

	{% if node.field_descargable.value|length > 0 %}
		<div class="meta-full block block-full block-60">{{ DESCARGA }}</div>
	{% endif %}

	{% include directory ~ '/templates/@includes/share-movil.html.twig' %}{# SHARE #}

	</div>
</article>

{# RELACIONADOS #}
<section class="relacionados l l-full">
	<div class="n">

		<div class="block block-full text-spacing text-center">
			<h4>Interesado en más</h4>
			<p>Aquí hay más noticias que pueden interesarle</p>
		</div>

		<div class="block block-full block-space title-block block-60 btext-simple block-view child-view">
			
			{{ drupal_view('noticias', 'noticias_last') }}

		</div>

	</div>
</section>

</div>{# CULMINA EL DIV DEL NODE #}