{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE PRINCIPAL 		#}
{# ---------------------------------------- #}

{% set TITULO = label %}
{% set CUERPO = content.body %}
{% set ID = node.id %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}
<div{{ attributes.addClass('a is-madre-full is-decorated') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

<article class="contenido l l-full">
<div class="n">

	<div class="block block-full block-60 titular text-center">
		<h3 id="bread" class="page-bread"><a href="./">Home</a></h3>
		<h1 id="title" class="page-title">{{ TITULO }}</h1>
	</div> 

	{% if node.body.value|length > 0 %}
	<div class="block block-full block-60 text-center sumilla">{{ CUERPO }}</div>
	{% endif %}

	{% if ID == '27' %}
	<div class="block block-full block-space title-block block-80 btext-simple block-view child-view">
		{{ drupal_view('cursos', 'cursos_full') }}
	</div>
	{% elseif ID == '28' %}
	<div class="block block-full block-space title-block block-80 btext-simple block-view child-view">
		{{ drupal_view('noticias', 'noticias_full') }} 
	</div>
	{% else %}	
	{% endif %}

</div>
</article>

</div> {# CULMINA EL DIV DEL NODE #}