{# ---------------------------------------- #}
{# VARIABLES PARA SERVICIOS LISTADO 		#}
{# ---------------------------------------- #}

{% set TITULO = label %}
{% set SUBTITULO = content.field_subtitulo %}
{% set SUMILLA = content.field_sumilla %}
{% set CUERPO = content.body %}
{% set DETALLES = content.field_detalles_a %}
{% set BG = file_url(node.field_bg_fondo.entity.fileuri) %}

{% set ID = node.id %}

{% set BG_EXIST = node.field_bg_fondo[0].value %}
{% set DETALLES_EXIST = node.field_detalles_a.value %}

{% set REGION_MESSAGES = drupal_region('messages') %}
{% set REGION_FIRST = drupal_region('sidebar_first') %}

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}

<div{{ attributes.addClass('a is-especial is-decorated') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}


{# CONTENIDO #}
<article class="contenido l l-full">
<div class="n">

    <div class="block block-full block-60 titular text-center">
        <div class="block-inner"> 
            {% if ID == '29' %}
            <h3 id="bread" class="page-bread"><a href="./">Nosotros</a></h3>
            {% else %}
            <h3 id="bread" class="page-bread"><a href="/">Home</a></h3>
            {% endif %}

            <h1 id="title" class="page-title">{{ TITULO }}</h1>
            <h3 id="subtitle" class="page-subtitle">{{ SUBTITULO }}</h3>

            {% if BG_EXIST|length > 0 %}  
            <figure>
                <img src="{{ BG }}" />
            </figure>
            {% endif %}
        </div>
    </div> 

	{{ REGION_MESSAGES }}

	<div class="block block-full block-60 sumilla">{{ SUMILLA }}</div>
	<div class="block block-full block-60 cuerpo">{{ CUERPO }}</div>

    {{ REGION_FIRST }} 

</div>
</article>  

{# PLUS-CONTENIDO: Solo si existe field_caso_practico #}
{% if DETALLES_EXIST|length > 0 %}
<section class="pc l l-full">
<div class="n">

	<div class="block block-full title-block text-center">

		<header>
			<h4 class="title-common">{{ 'En qué creemos'|t }}</h4>
		</header>

		<ul class="child"> {# llama los casos practicos #}
			{% for key, item in DETALLES if key|first != '#' %}
				<li class="parrafo">{{ item }}</li>
			{% endfor %}
		</ul> 

	</div>

    {% if ID == '21' %}

	<div class="block block-full title-block text-center">

		<header>
			<h4 class="title-common">{{ '¿Quién es María Munayco?'|t }}</h4>  
		</header>

		<p><a href="/nosotros/maria-munayco" class="btn-main">Conózcala</a></p>

	</div>

    {% endif %}

</div>
</section>
{% endif %}	

</div> {# CULMINA EL DIV DEL NODE #}