{# ---------------------------------------- #}
{# VARIABLES PARA HOMEPAGE PRINCIPAL 		#}
{# ---------------------------------------- #}

{% set EMPRESAS_LISTA = content.field_especiales_empresas %}

<div{{ attributes }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

{% if EMPRESAS_LISTA[0] %}
<ul class="child">
    {% for key, item in EMPRESAS_LISTA if key|first != '#' %}
    <li>{{ item }}</li>
    {% endfor %}
</ul>
{% endif %}

</div>