{# ---------------------------------------- #}
{# VARIABLES PARA SERVICIOS LISTADO 		#}
{# ---------------------------------------- #}

{% set TITULO = label %}
{% set EXTENSION = content.field_servicio_extension %}
{% set SUMILLA = content.field_sumilla %}
{% set CUERPO = content.body %}
{% set JS_VANILLA = content.field_vanilla %}
{% set CASOS = content.field_caso_practico %}

{% set SERVICIO = content.field_servicio_vinculado %}
{% set SERVICIO_TITULO = node.field_servicio_vinculado[0].entity.title.value %}
{% set SERVICIO_BG = file_url(node.field_servicio_vinculado.entity.field_bg_fondo.entity.fileuri) %}
{% set SERVICIO_ICON = file_url(node.field_servicio_vinculado.entity.field_svg.entity.fileuri) %}

{% set EXTENSION_EXIST = node.field_servicio_extension.value %}
{% set CASOS_EXIST = node.field_caso_practico.value %}

{% set SERVICIO_ID = node.field_servicio_vinculado.target_id %}

{% set REGION_FIRST = drupal_region('sidebar_first') %}
{% set REGION_SECOND = drupal_region('sidebar_second') %}
{% set REGION_MESSAGES = drupal_region('messages') %}

<style>

.checkboxes--wrapper,
.js-form-type-checkbox { display: none; }

{% if node.id == '11' %}
.checkboxes--wrapper,
[class*='form-item-services-c11'] { display: block; }
{% endif %}

{% if node.id == '15' %}
.checkboxes--wrapper,
[class*='form-item-services-c15'] { display: block; }
{% endif %}

{% if node.id == '16' %}
.checkboxes--wrapper,
[class*='form-item-services-c16'] { display: block; }
{% endif %}

{% if node.id == '19' %}
.checkboxes--wrapper,
[class*='form-item-services-c19'] { display: block; }
{% endif %}


{% if node.id == '20' %}
.checkboxes--wrapper,
[class*='form-item-services-c20'] { display: block; }
{% endif %}


</style>

{# ---------------------------------------- #}
{# EMPIEZA EL NODO DE PAGINA 				#}
{# ---------------------------------------- #}
<div{{ attributes.addClass('a is-both is-servicios') }}>
	{{ title_prefix }} 
  	{{ title_suffix }}

{# PAGEHEADER #}
{% if node.field_servicio_vinculado[0].entity.field_bg_fondo.value|length > 0 %}
	<section class="pageheader l l-full" style="background-image: url({{ SERVICIO_BG }})">
{% else %}
	<section class="pageheader l l-full">
{% endif %} 
<div class="n"> 
		
	<div class="block block-titular">   
			
		<div id="bread" class="page-bread"> 
			<a href="./">Servicios de {{ SERVICIO_TITULO }}</a>
		</div>
				
		<h1 id="title" class="page-title">{{ TITULO }}</h1>

		<div class="page-cta">
			<a href="#asesoria" class="btn-naked btn-cta skrol">{{ 'Solicita asesoría'|t }}</a>
		</div>
  
	</div>

</div>
</section>

{# LEFT #}
<aside class="sidebar l l-left">
<div class="n sticky">

	{{ REGION_FIRST }} 

	{% include directory ~ '/templates/@includes/share.html.twig' %}{# SHARE #}

</div>
</aside>

{# CONTENIDO #}
<article class="contenido l l-full l-center">
<div class="n"> 

	{{ REGION_MESSAGES }}

	{% if EXTENSION_EXIST|length > 0 %} {# field_servicio_extension #}

		<div class="block block-full especialistas meta">
			{% if EXTENSION[0] %}
				<h5 class="like-meta">{{ 'Especialistas en:'|t }}</h5>
				<ul class="exclusive">
				    {% for key, item in EXTENSION if key|first != '#' %}
				      	<li>&bull; {{ item }}</li>
				   	{% endfor %}
				</ul>
			{% endif %} 
		</div>

	{% endif %}

	<div class="block block-full sumilla">{{ SUMILLA }}</div>
	<div class="block block-full cuerpo">{{ CUERPO }}</div>

	{% include directory ~ '/templates/@includes/share-movil.html.twig' %}{# SHARE #}

</div>
</article>

{# PLUS-CONTENIDO: Solo si existe field_caso_practico #}
{% if CASOS_EXIST|length > 0 %}
<section class="pc l l-full">
<div class="n">

	<div class="block block-full text-center">

		<h4 class="title-common">{{ 'Casos Prácticos'|t }} <span>{{ 'Como hacemos nuestro trabajo'|t }}</span></h4>

		<ul class="child"> {# llama los casos practicos #}
			{% for key, item in CASOS if key|first != '#' %}
				<li class="parrafo">{{ item }}</li>
			{% endfor %}
		</ul> 

	</div>

</div>
</section>
{% endif %}

{# RIGHT #}
<div id="asesoria" class="sidebar l l-right">
<div class="n sticky"> 

	<div class="block block-full text-simple">
		<h4>¿ {{ 'Buscas asesoría para'|t }} {{ TITULO }} ?</h4> 
		<p>{{ 'Llena todas las casillas para entender mejor tu caso. Te responderemos a la brevedad.'|t }}</p>
	</div>

	{{ REGION_SECOND }}

</div>
</div>

{# RELACIONADOS #}
<section class="relacionados l l-full">
<div class="n">

	<div class="block block-full text-spacing text-center">
		<h4>{{ '¿No es lo que busca?'|t }}</h4>
		<p>{{ 'Le ofrecemos más servicios similares en el área de'|t }} {{ SERVICIO_TITULO }}</p>
	</div>

	{# cada uno llama al nodo del servicio relacionado #}
	<div class="block block-full block-60 text-center block-view child-view">
		{% if SERVICIO_ID == '7' %}
			{{ drupal_view('servicios', 'servicios_rel_7') }}
		{% elseif SERVICIO_ID == '8' %}
			{{ drupal_view('servicios', 'servicios_rel_8') }}
		{% elseif SERVICIO_ID == '9' %}
			{{ drupal_view('servicios', 'servicios_rel_9') }}
		{% else %}
			{{ drupal_view('servicios', 'servicios_rel_10') }}
		{% endif %}
	</div>

</div>
</section>

</div> {# CULMINA EL DIV DEL NODE #}