{% set IMAGEN = content.field_image %}

{% if IMAGEN[0] %}
<ul class="child my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
{% for key, item in IMAGEN if key|first != '#' %} 

{# VARIABLES solo para el key #}
{% set ITEM_URI = file_url(item['#item'].entity.fileuri) %}
{% set ITEM_ALT = item['#item'].alt %}
{% set ITEM_TITLE = item['#item'].title %}
{% set ITEM_HEIGHT = item['#item'].height %}
{% set ITEM_WIDTH = item['#item'].width %}

	<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject"> 
		{# dirige al image-formatter.html.twig {{ item }} #} 
		<a href="{{ ITEM_URI }}" data-size="{{ ITEM_WIDTH }}x{{ ITEM_HEIGHT }}" itemprop="contentUrl">
			<img src="{{ ITEM_URI }}" title="{{ ITEM_TITLE }}" alt="{{ ITEM_ALT }}" itemprop="thumbnail" /> 
		</a>
	</figure>

{% endfor %}
</ul>
{% endif %}

{{ attach_library('arky8/include_photoswipe')}}