{% set URL = url('<current>') %}
{% set TITULO = node.label %}

{% if node.getType == 'article' %}
<article id="share" class="block block-full block-60 share">
{% else %}
<article id="share" class="block block-full share">
{% endif %}

	<div class="block-inner meta">

		<h5>{{ 'Comparte desde'|t }}</h5>	
		<p>
			<a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ URL }}" target="_blank">
				<i class="fab fa-facebook-f"></i>
			</a> 
			<a class="twitter" href="https://twitter.com/intent/tweet?url={{ URL }}&text={{ TITULO }}" target="_blank">
				<i class="fab fa-twitter"></i>
			</a> 
			<a class="linkedin" href="http://www.linkedin.com/shareArticle?mini=true&url={{ URL }}&title={{ TITULO }}" target="_blank">
				<i class="fab fa-linkedin-in"></i>
			</a> 
			<a class="whatsapp" href="whatsapp://send?text=Lea sobre '{{ node.label }}' Visite: {{ URL }}>>" data-action="share/whatsapp/share">
				<i class="fab fa-whatsapp"></i>
			</a>  
		</p>

	</div>

</article>