{% set IMAGE_URL = file_url(paragraph.field_empresa_logo.entity.fileuri) %}
{% set TITLE = paragraph.field_empresa_title.value %}

<article{{ attributes }}>
    {{ title_prefix }} 
    {{ title_suffix }}

    <figure>
        <img class="lazy" alt="{{ TITLE }}" data-src="{{ IMAGE_URL }}" data-srcset="{{ IMAGE_URL }}" loading="lazy" />
        <noscript>
          <img alt="{{ TITULO }}" src="{{ IMAGE_URL }}">
        </noscript>
    </figure> 

</article>