{{ attach_library('arky8/custom') }}
{{ attach_library('arky8/style_inside') }}

<style>
    {% include directory ~ '/templates/style/a8-styles-inline.css' ignore missing %}
    {% include directory ~ '/templates/style/a8-style-inside-inline.css' ignore missing %}
</style>

{% include directory ~ '/templates/@regions/header.html.twig' %}{# HEADERPAGE #}
 
{% include directory ~ '/templates/@regions/main.html.twig' %}{#MAINPAGE #}

{% include directory ~ '/templates/@regions/footer.html.twig' %}{# FOOTERPAGE #}
{% include directory ~ '/templates/@regions/menupage.html.twig' %}{# MENUPAGE #}

{% if node.getType == 'article' %}
	{% include directory ~ '/templates/@includes/pwd.html.twig' %}{# PWD #}
{% else %}
{% endif %}

{% if logged_in %}
{% include directory ~ '/templates/@regions/tasks.html.twig' %}{# TASKS #}
{% endif %}