/* BANNER */
.home-banner {
	background-blend-mode: lighten, multiply, color, normal; 
	background-size: cover;
	background-position: center;
    min-height: 50vh;
    overflow: hidden; 
    position: relative;
}
.home-banner .n {
	justify-content: center;
	align-content: center;
    min-height: 50vh;
}

.main-text {
    margin: auto;
	max-width: 90vw;
	padding: 3rem 0 5rem;
	text-align: center;
}
.main-text > * {
	position: relative;
	z-index: 1;
}
.main-text-pretitle {
    border-bottom: 2px solid white;
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    padding: .25rem 0;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.main-text-title {
    color: white;
    font-size: 1.75em;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
.main-text-link {
    background-color: var(--color-verde-fuerte-min);
    border: 0;
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
}
@media (min-width: 600px) {
.main-text {
    max-width: 60vw;
}
.main-text-title {
    font-size: 2.25em;
}
}