html, body { font-family: Arial, sans-serif; height: 100%; }
body { overflow-x: hidden; line-height: 1.5; }
body, body * { font-size: 1em; font-weight: 400; margin: 0; padding: 0; text-decoration: inherit; }
*, *:before, *:after { box-sizing: border-box; }
@media (min-width: 320px) { body { font-size: calc(1em + 6 * ((100vw - 320px) / 680)); } }
@media (min-width: 1100px) { body { font-size: 1.25em; } }

/* WHEN ALL FONTS CHARGE */
body { font-family: "Helvetica", "Arial", sans-serif; overflow-x: hidden; }
.wf-active body { font-family: 'Montserrat', sans-serif; font-weight: 400; }

a { color: inherit; }
small { font-size: 75%; }
ol, ul { list-style: none; }
figure { overflow: hidden; position: relative; }
img, svg { display: block; height: auto; max-width: 200px; width: 100%; object-fit: cover; }

.contents,
.contents .inner,
.views-element-container { display: contents; }

/* RESET FOR D8 */
.hidden { display: none; }
.invisible { visibility: hidden; } 

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px); height: 1px; overflow: hidden; position: absolute!important; width: 1px; word-wrap: normal; }
.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto; height: auto; position: static!important; overflow: visible; width: auto; }

body {
	margin: auto;
	max-width: 960px;
}

.headpage {
	position: relative;
	z-index: 2;
}
.mainpage {
	position: relative;
	z-index: 1;
}
.footpage {
	position: relative;
	z-index: 1;
}

@supports (display: grid) {

.headpage {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	box-shadow: 0 0.5625rem 1.125rem 0 rgba(0,0,0,0.2);
}

/* VARIABLES */
:root {
	--espacio: 1rem; 
	--color-gris: #eeede8;
	--color-morado: #261440; 
	--color-verde: #559B32; 
	--color-verde-suave: #80C27D;
	--color-verde-suave-max: #E7EECA; 
	--color-verde-fuerte: #007133; 
	--color-verde-fuerte-min: #9FBC2B; 
}
@media (min-width: 480px) {
:root {
	--espacio: 1.5rem;
}
}
@media (min-width: 900px) {
:root {
	--espacio: 2.25rem;
}
}
@media (min-width: 1200px) {
:root {
	--espacio: 3.5rem;
}
}

/* BODY - layout */
body {
	max-width: 100%;
}
.arkyweb {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
	max-width: 100%;
	position: relative; 
}
[class*='aw-']{
	flex-basis: 0;
	flex-shrink: 0;
	flex-grow: 0;
}
.aw-1 {
	flex-grow: 1;
}
.a {
	display: flex; 
	flex-direction: row; 
	flex-flow: wrap; 
	padding-left: var(--espacio); 
	padding-right: var(--espacio);
	position: relative;
}

.l {
	flex-basis: calc(100% + calc( var(--espacio) * 2 ));
	max-width: calc(100% + calc( var(--espacio) * 2 ));
	margin-left: calc( var(--espacio) * -1 ); 
	margin-right: calc( var(--espacio) * -1 ); 	
}
.n {
	align-content: start;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;  
	margin-left: var(--espacio); 
	margin-right: var(--espacio);  
	position: relative;
}
.n-center {
	align-items: center;
	justify-content: space-between;
	align-content: inherit;
}

@media (min-width: 900px) {

.l-full.l-center {
    flex-grow: 1; 
    margin-left: 0;
    margin-right: 0;
}
.l-left { 
	margin-right: 0;
}
.l-right {
	margin-left: 0;
}

.l-left .n {
	margin-right: 1rem;
}
.l-right .n {
	margin-left: 1rem; 
}

.is-both .l-full.l-center {
	flex-basis: 57.5%;
} 
.is-both .l-left {
	flex-basis: calc(17.5% + var(--espacio)); 
	max-width: calc(17.5% + var(--espacio));
} 
.is-both .l-right {
	flex-basis: calc(25% + var(--espacio)); 
	max-width: calc(25% + var(--espacio));
	background-color: #E7EECA;
}
.is-servicios .l-right {
	margin-top: -15vh; 
}

/* ORDER */ 
.is-servicios .pc {
	order: 10;
}
.is-servicios .relacionados {
	order: 20;
}

}

} /* END SUPPORTS */

/* BLOCK PROPERTIES */

.block {
	position: relative;
}

@supports (display: grid) {

.block-grow {
    flex-grow: 1;
}
.block:not(:first-child) {
    padding-left: 1rem;
}
.block.block-full {
	padding-left: 0;
	flex-basis: 100%;
	max-width: 100%;
}
.block.block-half {
	flex-basis: 50%;
	max-width: 50%;
}
.block-sticky-desktop {
	position: sticky;
	top: 5rem;
}

@media (min-width: 900px) {

.block.block-width {
    padding-left: 20%;
    padding-right: 25%;
}

}

} /* END SUPPORTS BLOCKS */

@supports (display: grid) {

.child,
.child-view .views-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -2rem;
}
.child > *,
.child-view .views-container > * {
    flex-basis: 0;
    flex-grow: 1;
    padding-left: 2rem;
}
.child-view .views-container > * {
	min-width: 200px;
	margin-bottom: 2rem;
}
.child-view article,
.child-view article > a {
	height: 100%;
}

.childx2 {
	min-width: 12rem;
}
@media (min-width: 600px) {
.childx2 {
	min-width: 15rem;
}
.current-noticias .child-view .views-container > * {
    min-width: 50%;
}
}

}

/* LAYOUTS */

@media (min-width: 900px) {
.block.block-50 {
	padding-left: 16%;
	padding-right: 16%;
}
.block.block-60 {
	padding-left: 10%;
	padding-right: 10%;
}
.block.block-80 {
	padding-left: 10%;
	padding-right: 10%;
}
.block.block-90 {
	padding-left: 5%;
	padding-right: 5%;
}
}
@media (min-width: 1200px) {
.block.block-50 {
	padding-left: 25%;
	padding-right: 25%;
}	
.block.block-60 {
	padding-left: 20%;
	padding-right: 20%;
}	
}

.text-center {
	text-align: center;
}

.menu {
    display: flex;
}
.menu-erase .menu,
.menu-column .menu {
	flex-direction: column;
}

@media (min-width: 1200px) {
.head .n { /* 1.5rem */
	margin-left: 3.5rem;
	margin-right: 3.5rem;
}
}

.menupage {
	display: none;
}

.lazy {
	filter: blur(8px);
	transition: 2s filter;
}
.lazy-load {
	filter: blur(0);
}

a svg {
	min-width: 49px;
}