{% set heading_id = attributes.id ~ '-menu'|clean_id %}
<nav role="navigation" {{ attributes|without('role', 'aria-labelledby') }}>
  {# Label. If not displayed, we still provide it for screen readers. #}
  {% if not configuration.label_display %}
    {% set title_attributes = title_attributes.addClass('visually-hidden').setAttribute('aria-hidden', 'true') %}
  {% endif %}
  {{ title_prefix }}
  <h4{{ title_attributes.addClass('block-title') }}>{{ configuration.label }}</h4>
  {{ title_suffix }}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
