/* CABECERA */

.head {
	background-color: rgba(255,255,255,.98);
	min-height: 4rem;
}
.head-branding {
    margin-right: .5rem;
    width: 60px; 
    overflow: hidden;
}
.head-branding img {
	object-position: left;
	width: 200px;
}

[class*='head-menu'] {
	display: none;
}
.head-menu .menu li {
    margin-left: .75rem;
}
@media (min-width: 480px) {
.head-branding {
	min-width: 200px;
}
}
@media (min-width: 900px) {
.head {
	min-height: 5.5rem;
}
.head-branding {
    min-width: 60px; 
} 
[class*='head-menu'] {
	display: block;
}
}
@media (min-width: 1200px) {
.head {
	min-height: 7rem;
}
.head-branding,
.head-branding img {
	min-width: 225px;
}
.head-menu .menu li {
    margin-left: 1.5rem;
}
}

.head-menu [class*="expanded"] {
    display: inline-block;
    margin-left: 1rem;
    position: relative;
}
.head-menu [class*="expanded"] > a,
.head-menu-cta .menu li:not(:last-child) a {
    max-width: 5.75rem;
    display: inline-block;
    line-height: 1.25;
    font-size: 12px;
    color: #777;
    padding: .75rem;
    padding-left: 0;  
}
.head-menu-cta .menu li:not(:last-child) a {
    padding-right: 0;
    max-width: 5rem;
    text-align: right;
    margin-right: .5rem;
}
.head-menu-cta .menu li:last-child a {
    margin-top: 0; /*.75rem;*/
}
.head-menu [class*="expanded"].active > a {
	color: #549930;
}
.head-menu [class*="expanded"].active > a + span {
	border-color: #549930;
}
.head-menu [class*="expanded"] > a[href*='requisitos'] {
    max-width: 7.75rem;
}
.head-menu [class*="expanded"] ul {
	display: none;
}
@media (min-width: 1200px) {
.head-menu [class*="expanded"] > a { 
	max-width: 6.5rem;
    font-size: 14px;
}
.head-menu [class*="expanded"] > a[href*='requisitos'] {
    max-width: 9rem;
}	
.head-menu-cta .menu li:not(:last-child) a {
    font-size: 14px;
    max-width: 6rem;
}
}

.head-sec {
    background-color: var(--color-gris);
    display: none;
}
.head-sec .n {
    justify-content: flex-end;
}
.head-sec-menu:last-child {
    margin-left: 2rem;
}
.head-sec-menu .menu a {
    color: var(--color-morado);
    display: inline-block;
    font-size: 13px; 
    line-height: 30px;
    margin-left: .5rem;
    padding: 0 4px 4px;
    position: relative;
}
@media (min-width: 900px) {
.head-sec {
    display: block;
    height: 36px;
    overflow: hidden;
    transition: .3s height;
}   
.headpage-class .head-sec {
    height: 0;
}
}

/* ARTEFACTS */
[class*="btn"] {
    background-color: #9FBC2B;
    border-radius: 2rem;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    display: inline-block;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1;
    text-transform: uppercase;
    padding: .6rem 1rem .5rem;
    transition: .25s box-shadow, .25s background-color;
}
.btn-main {
    border: 1px solid #559B32;
    background-color: transparent; 
    color: #559B32;
    font-size: .9em;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.toggle {
	position: relative;
	display: block;
	width: 36px;
	height: 36px;
}
.toggle--icon {
    display: inline-block;
    height: 20px;
    width: 24px;
    position: relative;
	left: 5px;
	top: -2px;
}
.toggle--icon-bar {
    top: 50%;
    transition-duration: .75ms;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggle--icon-bar, .toggle--icon-bar::before, .toggle--icon-bar::after {
    background-color: #777;
    display: block;
    position: absolute;
    border-radius: .25rem;
    height: 2px;
    width: 24px;
}
.toggle--icon-bar::before, .toggle--icon-bar::after {
    content: '';
    display: block;
}
.toggle--icon-bar::before {
    top: -7px;
    transition: top 75ms ease .12s, opacity 75ms ease;
}
.toggle--icon-bar::after {
    bottom: -7px;
    transition: bottom 75ms ease 0.12s, transform 75ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.toggle--text { 
    display: block;
    position: absolute;
    font-size: 10px;
    text-transform: uppercase;
    bottom: -3px;
    left: 0;
    right: 0;
    margin: auto;
    color: #444;
}

@media (min-width: 900px) {
.toggle {
    display: none;
}
}

.important {
    color: #559B32;
    font-size: 24px; 
    margin-top: 1em;
}