{% if page.footer %}
<footer class="footerpage aw-0">
    <div class="a">
        {% if page.prefooter %}
        <div class="pre-foot l l-full">
            <div class="n">
                {{ page.prefooter }}
            </div>
        </div>
        {% endif %}
        <div class="foot l l-full">
            <div class="n">
                {{ page.footer }}
            </div>
        </div>
    </div>
</footer>
{% endif %}