<header id="headpage" class="headpage aw-0">
    <div class="a">
        <div class="head-sec l l-full">
            <div class="n n-center">
                {{ page.header_sec }}
            </div>
        </div>
        <div class="head l l-full">
            <div class="n n-center">
                {{ page.header }}
                <div class="block head-hamburger">
                    <a href="#" id="toggle" class="toggle" aria-hidden="true">
                        <span class="toggle--icon">
                            <span class="toggle--icon-bar"></span>
                        </span>
                        <span class="toggle--text">Menú</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>