{% if page.menu %}
<div class="menupage">
    <div class="a">
        <span id="toggle_close" class="toggle-close"><i></i><i></i></span>
        <div class="block block-full block-80 branding">
            <div id="logo_menu">
                <a href="/" title="Inicio" rel="home" class="logo">
                  <img src="/themes/custom/arky8/logo.svg" alt="Inicio">
                </a>
            </div>
        </div>
        {{ page.menu }}
    </div>
</div>
{% endif %}