{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}

  {% if multiple %}
    {# <div{{ attributes }}> #}
      {% for item in items %}
        {# <div{{ item.attributes }}> #}
          {{ item.content }}
        {# </div> #}
      {% endfor %}
    {# </div> #}
  {% else %}

    {% for item in items %}
      {#<div{{ attributes }}>#}
        {{ item.content }}
      {#</div>#}
    {% endfor %}

  {% endif %}

{% else %}

  {# <div {{ attributes }}>  #}

    <h4{{ title_attributes.addClass(title_classes) }}>{{ label }}</h4>

    {% if multiple %}
      {# <div> #}
    {% endif %}

    {% for item in items %}
      {# <div{{ item.attributes }} #}
        {{ item.content }}
      {# </div> #}
    {% endfor %}

    {% if multiple %}
      {# </div> #}
    {% endif %}

  {# </div>  #}

{% endif %}
